/* Fenix Common CSS */
@import '../../../fenix-ui-common/css/themes/fx-variables';


/* Boostrap Queries */
@import '../../../fenix-ui-common/css/themes/fx-bootstrap-queries';


$fx-ui-common: '../../../fenix-ui-common/';

@import '../../../fenix-ui-common/css/base/fx-typography';
@import '../../../fenix-ui-common/css/base/fx-fonts-import';
@import '../../../fenix-ui-common/css/utils/fx-mixins';
@import '../../../fenix-ui-common/css/components/fx-tabs';
@import '../../../fenix-ui-common/css/components/fx-buttons';
@import '../../../fenix-ui-common/css/components/fx-icons';
@import '../../../fenix-ui-common/css/vendor/fx-jstree';
@import '../../../fenix-ui-common/css/components/fx-radio-checkbox';

/* Demo Styles */

h1,h2,h3,h4,h5{
  font-weight: 300;
}

body{
  color: $fenix-text;
  background-color: #f8f8f8;
  font-family: 'Roboto', sans-serif;
}

.panel{
  @include fx-no-border-radius;
  padding: 0 10px;

}

.input-group.date{
  margin-bottom:10px;


}

#all-summary{
  padding-top: 10px;
  padding-bottom: 10px;
}


@import '../../src/css/filter';





