<div>

    <ul data-sortable-list data-group="{{group}}" class="filter-sortable-list list-unstyled list-group"></ul>

    <li data-sortable-item data-id="{{value}}" class="filter-sortable-item list-item">
        {{label}}
    </li>

</div>