<div>

    <div data-sortable-list data-group="{{group}}" class="filter-sortable-list list-unstyled list-group">
        <h3>{{label}}</h3>
        <ul></ul>
    </div>

    <li data-sortable-item data-id="{{value}}" class="filter-sortable-item list-item">
        {{label}}
    </li>

</div>