<div class="form-group">
    <div class='input-group date' data-selector-time>
        <input type='text' class="form-control" />
            <span class="input-group-addon fx-time-addon">
                <span class="icojam_calendar_4"></span>
            </span>
    </div>
</div>