/* Filter */

.selector-header{
  padding: 10px 0;
  h1,h2,h3,h4,h5{
    margin: 0;
    margin-top: 2px;
  }
}

.tree-holder{
  height: 150px;
  overflow: auto;
}

.code-brk {
  font-family: "Lucida Console", Monaco, monospace;
}

