/* Filter */

.selector-header{
  padding: 10px 0;
  h1,h2,h3,h4,h5{
    margin: 0;
    margin-top: 2px;
  }
}

.fx-enabled-switch{
  position: relative;
  top: 2px;
}


.selector-footer{

  [data-role="summary"]{
    margin: 0;
  }

}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


[data-code]{
  display: inline-block;
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 1px 3px;
  background-color: $summary-bg;
  @include fx-border-radius(3px);
}

.code-brk {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 10px;
  color: $fenix-secondary-text;
}

/* Tree */

.tree-holder{
  height: 150px;
  overflow: auto;
}

.fx-tree-search{
  margin-bottom: 5px;
}

.fx-tree-buttons{
  margin-bottom: 5px;
}


/* Range Slider */

.irs-bar, .irs-bar-edge, .irs-line{
  height: 5px;
  top: 37px;
}


.irs-bar, .irs-bar-edge{
  background: $fx-cool-blue;
}

.irs-line{
  background: $fenix-light-gray;
  border-color: transparent;
}

.irs-slider{
  background: white;
}

.irs-from, .irs-to, .irs-single {
  background: transparent;
  color: $fx-cool-blue;
}