/* Packery */
.fx-catalog-form-module {
/*margin: 10px 0 20px;*/
    width: 25%;
    border: 10px solid;
    /*border: 10px solid $fenix-light-bg;*/
}

.fx-catalog-form-module.fit {
    width: 100%;
}