<div>
    {{#if isCheckboxOrRadio}}
        <ul data-input-list class="filter-radio-list list-unstyled list-inline"></ul>
    {{else}}
        <ul data-input-list class="filter-radio-list list-unstyled"></ul>
    {{/if}}
</div>