<div>

    <div data-sortable-list data-group="{{group}}" >
        <h4>{{label}}</h4>
        <ul class="filter-sortable-list list-unstyled list-group"></ul>
    </div>

    <li data-sortable-item data-id="{{value}}" class="filter-sortable-item list-item">
        {{label}}
    </li>

</div>