<div data-sortable-list data-sortable-group="{{group}}" class="form-group">
    <h4>{{label}}</h4>
    <ul class="filter-sortable-list list-unstyled list-group"></ul>
    <p class="help-block error"></p>
</div>