<div data-tree-template>

    <div class="selector-content">

        {{#unless hideFilter}}
            <input data-role="filter" type="text" class="form-control fx-tree-search" placeholder="{{search_placeholder}}">
        {{/unless}}

        <div class="tree-holder">
            <div data-role="tree"></div>
        </div>


        {{#unless hideButtons}}

            <div class="btn-group btn-group-justified fx-tree-buttons">
                {{#unless hideClearAllButton}}
                    <div class="btn-group" role="group">
                        <button data-role="clear" class="btn btn-default">{{ clear_all_btn }}</button>
                    </div>
                {{/unless}}
                {{#unless hideSelectAllButton}}
                    <div class="btn-group" role="group">
                        <button data-role="select" class="btn btn-default">{{ select_all_btn }}</button>
                    </div>
                {{/unless}}
            </div>


        {{/unless}}


    </div>

    <div class="selector-footer clearfix">

        {{#unless hideFooter}}

            {{#unless hideSummary}}
                <ul data-role="summary" class="list-unstyled"></ul>
            {{/unless}}

        {{/unless}}

    </div>
</div>
